@using SliceCloud.Repository.Models
@using SliceCloud.Repository.ViewModels
@{
    ViewData[index: "Title"] = "Users";
}
@model PaginatedList<User>
@section Styles {
    <link rel="stylesheet" href="~/css/users-table.css" />
}
<div class="d-flex flex-column w-100 p-4">
    <div class="d-flex justify-content-between w-100 mb-3 d-sm-row d-column flex-wrap flex-sm-nowrap">
        <h1 class="custom-body-text-color">Users</h1>
        <div class="d-flex align-items-center gap-2 d-sm-row d-column flex-wrap flex-sm-nowrap gap-3">
            <div class="d-flex align-items-center border rounded px-2 bg-white search-box">
                <input class="form-control border-0 shadow-none p-0 search-input" type="text" placeholder="Search Users"
                    id="search" name="search" aria-label="Search users">
            </div>
            <a asp-controller="Users" asp-action="AddNewUser" class="btn btn-primary d-flex align-items-center">
                + Add User
            </a>
        </div>
    </div>
    <div id="userTableContainer">
        @await Html.PartialAsync(partialViewName: "_UserTablePartialView", Model)
    </div>
</div>
@section Scripts {
    <script src="~/js/users-table.js"></script>
}