* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f2f2f2;
}

.custom-body-bg-color {
  background: #d8eff7;
}

.custom-body-text-color {
  color: #0066a7;
}

.custom-active-ul-item-bg-color {
  background: #e9eaeb;
}

.custom-active-ul-item-text-color {
  color: #0e67a7 !important;
}

.custom-navbar-bg-color {
  background-color: #0066a7 !important;
}

.custom-body-page-color {
  background-color: #f2f2f2;
}

.custom-navbar-bg-color {
  background-color: #0066a7 !important;
}

.custom-link-color {
  color: #0066a7 !important;
}

.custom-cursor-pointer {
  cursor: pointer;
}